.about-page {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(53, 52, 52);
  .container-about {
    max-width: 80%;
    margin: 1rem auto;
    padding: 3rem;
    font-family: "Segoe UI", sans-serif;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(78, 176, 221);
    color: #333;
  }
  .header-about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    height: 18rem;

    h1 {
      font-size: 2rem;
      margin: 0;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-weight: 300;
    }

    h2 {
      font-size: 1.2rem;
      color: #0da6c2;
      margin: 1rem 0;
    }

    .contact-about {
      background-color: #1c2c4c;
      color: #fff;
      border-radius: 8px;
      padding: 1rem;
      min-width: 240px;
      height: 90%;

      p {
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        svg {
          margin-right: 1rem;
          font-size: 2.2rem;
        }
      }
    }
  }

  .content-about {
    margin-top: 2rem;

    h3 {
      color: #0da6c2;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
      line-height: 1.6;
    }

    a {
      color: #0da6c2;
      text-decoration: underline;
    }

    .signature-about {
      margin-top: 2rem;
    }
  }
}

@media (max-width: 1300px) {
  .about-page {
    .header-about {
      display: flex;
      flex-direction: column;
      .profile-about {
        h1 {
          font-size: 1.3rem;
        }
        h2 {
          font-size: 0.8rem;
        }
      }
      .contact-about {
        min-width: 140px;
        height: 70%;

        p {
          font-size: 0.6rem;
          svg {
            margin-right: 0.8rem;
            font-size: 1.6rem;
          }
        }
      }
    }
    .content-about {
      h3 {
        font-size: 1rem;
      }
      p {
        font-size: 0.7rem;
        text-align: justify;
      }
      a {
        font-size: 0.7rem;
      }
    }
  }
}
@media (max-width: 500px) {
  .about-page {
    .container-about {
      padding: 0.2rem;
    }

    .header-about {
      .profile-about {
        h1 {
          font-size: 1.3rem;
        }
        h2 {
          font-size: 0.8rem;
        }
      }
      .contact-about {
        min-width: 120px;
        height: 60%;

        p {
          font-size: 0.6rem;
          svg {
            margin-right: 0.4rem;
            font-size: 0.6rem;
          }
        }
      }
    }
    .content-about {
      h3 {
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
      }
      p {
        font-size: 0.6rem;
        text-align: justify;
        margin: 0;
        padding: 0;
      }
      a {
        font-size: 0.6rem;
      }
    }
  }
}
