.contactPage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: #f0f2f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .mapSection {
    flex: 1;
    min-width: 50%;
    height: 100%;

    .map {
      width: 100%;
      height: 100%;
      border-right: 2px solid #e0e0e0;
    }
  }

  .infoSection {
    flex: 1;
    padding: 3rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
    width: 50%;
    height: 100%;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      color: #222;
    }

    p {
      font-size: 1.1rem;
      margin: 0.8rem 0;

      strong {
        color: #555;
        width: 100px;
        display: inline-block;
      }

      a {
        color: #0077b6;
        text-decoration: none;
        transition: color 0.2s ease;

        &:hover {
          color: #023e8a;
        }
      }
    }
  }
}

// Responsive design
@media (max-width: 1400px) {
  .contactPage {
    flex-direction: column;

    .mapSection,
    .infoSection {
      width: 100%;
      height: 50%;
    }

    .infoSection {
      padding: 2rem 1.5rem;
      width: 100%;
      height: 50%;

      h2 {
        font-size: 1.7rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}
@media (max-width: 600px) {
  .contactPage {
    flex-direction: column;

    .mapSection,
    .infoSection {
      width: 100%;
      height: 50%;
    }

    .infoSection {
      padding: 2rem 1.5rem;

      h2 {
        font-size: 1.4rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }
}
