.home-page {
  height: 85vh;
  width: 75%;
  border: solid 1rem #222222;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  margin:auto;
  margin-top: 2rem;
  margin-bottom: 0.3rem;
  box-shadow: 1px 8px 20px 5px rgb(129, 128, 128);
  .camera {
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: space-between;

    background: #f5b5b5;
    background: linear-gradient(
      176deg,
      rgba(245, 181, 181, 0.85) 3%,
      rgba(7, 135, 171, 1) 50%,
      rgba(200, 224, 135, 1) 98%
    );
    border-top-left-radius: 1.4rem;
    border-top-right-radius: 1.4rem;

    .clock {
      font-size: 0.8rem;
      font-weight: 600;
      color: rgb(0, 0, 0);
      display: flex;
      flex-direction: row;
      align-items: center;

      margin-left: 0.5rem;
      height: 100%;
    }
    .icons {
      margin-right: 0.2rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      height: 100%;

      svg {
        margin-right: 0.5rem;
        width: 0.9rem;
      }
    }

    .camerain {
      width: 14rem;
      height: 1.6rem;
      background-color: rgb(26, 25, 25);
      border-bottom-left-radius: 0.9rem;
      border-bottom-right-radius: 0.9rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .camera1 {
        width: 1rem;
        height: 1rem;
        background-color: rgb(48, 47, 47);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .camerain2 {
          width: 0.25rem;
          height: 0.25rem;
          background-color: rgb(73, 73, 73);
          border-radius: 50%;
        }
      }
      .footer-menu {
        height: 2rem;
        background-color: aqua;
      }
    }
  }
}
.keyboard {
  width: 98%;
  height: 3rem;
  margin:auto;
  box-shadow: 1px 8px 20px 5px rgb(129, 128, 128);
  background: rgb(154, 154, 154);
  background: linear-gradient(
    93deg,
    rgba(154, 154, 154, 1) 0%,
    rgba(203, 203, 203, 1) 1%,
    rgba(123, 123, 123, 1) 3%,
    rgba(209, 209, 209, 1) 46%,
    rgba(135, 135, 135, 1) 97%,
    rgba(209, 208, 208, 1) 99%,
    rgba(123, 123, 123, 1) 100%,
    rgba(248, 248, 248, 1) 100%
  );
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 0;

  display: flex;
  justify-content: center;
  .keyboardfront {
    width: 15rem;
    height: 1.5rem;
    background: rgb(103, 101, 101);
    background: linear-gradient(
      93deg,
      rgba(103, 101, 101, 1) 0%,
      rgba(123, 123, 123, 1) 5%,
      rgba(203, 203, 203, 1) 7%,
      rgba(249, 249, 249, 1) 49%,
      rgba(209, 208, 208, 1) 94%,
      rgba(135, 135, 135, 1) 97%,
      rgba(123, 123, 123, 1) 100%,
      rgba(248, 248, 248, 1) 100%
    );
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}
.main {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 81%;
  background-color: white;
  .main-child {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (max-width: 1000px) {
  .home-page {
    border-bottom-left-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;

    margin-top: 1.5rem;
  }
  .keyboard {
    display: none;
  }
}
@media (max-width: 768px) {
  .home-page {
    .camera {
      .camerain {
        width: 8rem;
      }
    }
  }
}
@media (max-width: 440px) {
  .home-page {
    .camera {
      .clock {
        visibility: hidden;
      }
      .icons {
        width: 4.5rem;
        margin-left: 0.3rem;
        svg {
          width: 0.7rem;
        }
      }
      .camerain {
        width: 5rem;
        margin-right: 0.7rem;
      }
    }
  }
}
