.certificate-container {
  width: 100%;
  height: 100%;
  background-image: url("/certifikate.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .certificate-list {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    .certificate-title {
      font-size: 1.2rem;
      font-weight: 500;
      color: #302e2e;
      padding-bottom: 0.3rem;
      border-bottom: 1px solid #ddd;
    }
  }
}

@media (max-width: 1450px) {
  .certificate-container {
    .certificate-list {
      width: 90%;

      .certificate-title {
        font-size: 0.9rem;
      }
    }
  }
}
