.footer-menu {
  background: #f5b5b5;
  background: linear-gradient(
    176deg,
    rgba(245, 181, 181, 0.85) 3%,
    rgba(7, 135, 171, 1) 50%,
    rgba(200, 224, 135, 1) 98%
  );

  height: 10%;
  width: 100%;
  border: none;

  .footer-item1 {
    background-color: rgb(85, 83, 83);
    height: 35%;
    width: 100%;
    color: rgb(206, 202, 202);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .remote {
      background-color: rgb(34, 128, 206);
      width: 2.6rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .remote:hover {
      background-color: rgb(230, 98, 190);
      img {
        margin-top: 0.2rem;
      }
    }
    .info-icon {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      img {
        margin-left: 0.3rem;
        margin-bottom: 0.1rem;
      }
      p {
        font-size: 0.6rem;
        margin-left: 0.1rem;

        color: rgb(173, 172, 172);
      }
    }
    .footer-info {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;

      ul {
        display: flex;
        flex-direction: row;
        li {
          list-style: none;
          margin-right: 1rem;
          font-size: 0.7rem;
          color: rgb(255, 255, 255);
        }
        li:hover {
          color: rgb(230, 98, 190);
          margin-top: 0.1rem;
        }
      }
    }
  }
  .footer-item2 {
    width: 55%;
    height: 60%;
    margin: auto;
    margin-top: 0.1rem;
    border-radius: 10px;
    background-color: rgba(44, 43, 43, 0.61);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    img {
      width: 2rem;
      height: 2rem;
    }
    img:hover {
      border-radius: 5px;
      padding: 0.15rem;
    }
  }
  .footer-item3 {
    display: none;
  }
}
@media (max-width: 1380px) {
  .footer-menu {
    .footer-item1 {
      .footer-info {
        ul {
          li {
            font-size: 0.5rem;
          }
        }
      }
    }
    .footer-item2 {
      img {
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  }
}
@media (max-width: 1000px) {
  .footer-menu {
    border-bottom-left-radius: 2.3rem;
    border-bottom-right-radius: 2.3rem;

    .footer-item1 {
      .footer-info {
        ul {
          width: 100%;

          display: flex;
          flex-direction: row;
          justify-content: end;
          align-items: center;
          li {
            margin-right: 0.2rem;
            font-size: 0.5rem;
            text-align: end;
          }
        }
      }
    }
    .footer-item2 {
      width: 70%;

      img {
        width: 1.1rem;
        height: 1.1rem;
      }
    }
  }
}
@media (max-width: 600px) {
  .footer-menu {
    .footer-item1 {
      .footer-info {
        display: none;
      }
      .info-icon {
        width: 100%;
      }
    }
    .footer-item2 {
      display: none;
    }
    .footer-item3 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 65%;
      font-size: 1.3rem;
      color: rgba(233, 228, 228, 0.596);

      :hover {
        color: rgba(230, 98, 190, 0.705);
      }
    }
  }
}
