.footer-menu {
  background: #f5b5b5;
  background: linear-gradient(
    176deg,
    rgba(245, 181, 181, 0.85) 3%,
    rgba(7, 135, 171, 1) 50%,
    rgba(200, 224, 135, 1) 98%
  );

  height: 10%;
  width: 100%;
  border: none;

  .footer-item1 {
    background-color: rgb(85, 83, 83);
    height: 35%;
    width: 100%;
    color: rgb(206, 202, 202);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .remote {
      background-color: rgb(34, 128, 206);
      width: 2.6rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .remote:hover {
      background-color: rgb(230, 98, 190);
      img {
        margin-top: 0.2rem;
      }
    }
    .info-icon {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      img {
        margin-left: 0.3rem;
      }
      p {
        font-size: 0.6rem;
        margin-left: 0.1rem;
        margin-bottom: 0.1rem;
        color: rgb(173, 172, 172);
      }
    }
    .footer-info {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      ul {
        display: flex;
        flex-direction: row;
        li {
          list-style: none;
          margin-right: 1rem;
          font-size: 0.7rem;
          color: rgb(255, 255, 255);
        }
        li:hover {
          color: rgb(230, 98, 190);
          margin-top: 0.1rem;
        }
      }
    }
  }
  .footer-item2 {
    width: 55%;
    height: 60%;
    margin: auto;
    margin-top: 0.1rem;
    border-radius: 10px;
    background-color: rgba(44, 43, 43, 0.61);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    img {
      width: 2rem;
      height: 2rem;
    }
    img:hover {
      margin-top: 0.2rem;
      background-color: white;
      border-radius: 5px;
      padding: 0.3rem;
    }
  }
}
