header {
  width: 100%;
  height: 2.3rem;
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: row;

  img {
    width: 1.2rem;
    height: 1.2rem;
  }

  a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    width: 17%;
    height: 2.25rem;
  }

  a:hover {
    border-top: 2px solid rgb(250, 247, 49);
  }

  a.active {
    border-top: 2px solid aqua;
  }
}
