.main-container {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .text2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;

    background-color: rgb(37, 37, 37);

    h3,
    h4,
    p {
      font-weight: 400;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      color: rgb(241, 130, 65);
    }
    h3 {
      font-size: 12rem;
      margin-right: 3rem;
      margin-top: 3rem;
    }
    h4 {
      width: 20rem;
      margin-right: 4.5rem;
      text-align: end;
    }
    p {
      width: 25rem;
      margin-right: 4.5rem;
      text-align: justify;
    }
  }

  .cihanbild {
    width: 35%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 3rem;
    margin: 0;
    z-index: 3;
    filter: drop-shadow(8px 8px 100px rgba(245, 116, 30, 0.5));
    opacity: 0.9;
  }

  h2 {
    font-size: 3.5rem;
    font-weight: 100;
    position: absolute;
    z-index: 1;
    bottom: 15rem;
    left: -9rem;
    transform: rotate(90deg);
    color: rgba(220, 248, 60, 0.781);
    opacity: 0.5;
  }
}
@media (max-width: 2200px) {
  .main-container {
    .cihanbild {
      width: 35%;
      height: auto;
    }
  }
}
@media (max-width: 1850px) {
  .main-container {
    .cihanbild {
      width: 40%;
      height: auto;
    }
    .text2 {
      h3 {
        font-size: 9rem;
        margin-right: 1.7rem;
      }
      h4 {
        width: 17rem;
        margin-right: 1.7rem;
        font-size: 0.8rem;
      }
      p {
        width: 20rem;
        margin-right: 1.7rem;
        font-size: 0.8rem;
      }
    }
    .text1 {
      h2 {
        font-size: 3rem;
        bottom: 10rem;
        left: -9rem;
      }
    }
  }
}
@media (max-width: 1380px) {
  .main-container {
    .cihanbild {
      width: 60%;
      height: auto;
    }
  }
}
@media (max-width: 1070px) {
  .main-container {
    .cihanbild {
      width: 55%;
      height: auto;
    }
    .text2 {
      h3 {
        font-size: 9rem;
        margin-right: 1.7rem;
      }
      h4 {
        width: 17rem;
        margin-right: 1.7rem;
        font-size: 1rem;
      }
      p {
        width: 20rem;
        margin-right: 1.7rem;
        font-size: 1rem;
      }
    }
    .text1 {
      h2 {
        font-size: 5rem;
        bottom: 18rem;
        left: -16rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .main-container {
    .cihanbild {
      width: 80%;
      height: auto;
    }
    .text1 {
      h2 {
        font-size: 3.5rem;
        bottom: 13rem;
        left: -11rem;
      }
    }
  }
}
@media (max-width: 500px) {
  .main-container {
    .cihanbild {
      width: 90%;
      height: auto;
    }
    .text2 {
      h3 {
        font-size: 6rem;
        margin-right: 1rem;
      }
      h4 {
        width: 13.5rem;
        margin-right: 1rem;
        font-size: 0.8rem;
      }
      p {
        width: 13.5rem;
        margin-right: 1rem;
        font-size: 0.8rem;
      }
    }
    .text1 {
      h2 {
        font-size: 2rem;
        bottom: 8rem;
        left: -5rem;
      }
    }
  }
}
