.container-myprofile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px;

  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(61, 60, 60);
  gap: 1rem;
  a {
    text-decoration: none;
    color: #666161;
    :hover {
      color: #f04f4f;
    }
  }
  .card-myprofile {
    width: 30rem;
    height: 25rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
    background: #fff;
    cursor: pointer;
    padding: 1rem;
    background-color: rgb(229, 238, 241);

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      transform: translateY(-4px);
    }

    .title-myprofile {
      padding: 1rem;
      font-size: 1rem;
      font-weight: 600;
    }
    .image-myprofile {
      width: 90%;
      height: auto;
      border-radius: 15px;
    }
  }
}
@media (max-width: 1200px) {
  .container-myprofile {
    .card-myprofile {
      width: 100%;
      height: auto;
      .title-myprofile {
        font-size: 0.8rem;
      }
      .image-myprofile {
        height: auto;
        width: 100%;
      }
    }
  }
}
@media (max-width: 768px) {
  .container-myprofile {
    .card-myprofile {
      width: 100%;
      height: auto;
      .title-myprofile {
        font-size: 0.6rem;
      }
      .image-myprofile {
        height: auto;
        width: 100%;
      }
    }
  }
}
