.cvWrapper {
  width: 80%;
  height: 100%;

  margin: 0 auto;
  background: #ffffff;
  font-family: "Inter", sans-serif;
  color: #1f2937;
  border: solid 1px #e5e7eb;
}

/* Header */
.header {
  height: 12rem;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #ffffff1e;
}

.headerOverlay {
  background: rgba(255, 255, 255, 0.089);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.profile {
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
  margin-top: 0.2rem;
  gap: 10rem;
}

.avatar {
  border-radius: 2rem;
  overflow: hidden;
}

.title {
  h1 {
    font-size: 2rem;
    margin: 0;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #4b5563;
    margin-top: 4px;
  }
}
/* Socials */
.socials {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  .social1,
  .social {
    width: 25%;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      color: #1987e2;

      &:hover {
        color: #d37408;
      }
    }
  }
}

/* Contact */
.contact {
  width: 95%;
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  font-size: 14px;
  margin: auto;
}

/* Section */
.section {
  width: 78%;
  margin: auto;
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 24px;
  padding: 1rem 2.1rem;
}

.date {
  font-weight: 700;
  color: #000;
}

.content {
  h3 {
    margin: 0;
    font-size: 18px;
  }

  h4 {
    margin: 4px 0 12px;
    font-size: 15px;
    font-weight: 500;
    color: #374151;
  }

  ul {
    padding-left: 18px;

    li {
      margin-bottom: 6px;
      font-size: 14px;
      line-height: 1.6;
    }
  }
}
@media (max-width: 1550px) {
  .socials {
    padding: 0;
  }

  .avatar {
    border-radius: 2rem;
    overflow: hidden;
    margin-top: 2.5rem;
    img {
      width: 10rem;
      height: 30%;
    }
  }

  .section {
    width: 95%;
  }

  .contact {
    font-size: 12px;
    padding: 0.5rem 0;
  }

  .date {
    font-size: 14px;
  }

  .content {
    h3 {
      font-size: 14px;
    }

    h4 {
      font-size: 12px;
    }

    ul {
      li {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 1250px) {
  .header {
    background-position: right;
  }

  .profile {
    margin-left: 0;
  }
  .avatar {
    margin-top: 5.2rem;

    img {
      width: 7rem;
      height: auto;
    }
  }

  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact {
    font-size: 12px;
    padding: 0.5rem 0;
  }

  .date {
    font-size: 12px;
  }

  .content {
    h3 {
      font-size: 12px;
    }

    h4 {
      font-size: 12px;
    }

    ul {
      li {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 800px) {
  .header {
    background-position: left;
  }
  .section {
    display: none;
  }

  .socials {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-top: 1rem;
    .social1 {
      display: flex;
      align-items: center;
      justify-content: left;
      margin-left: 0.7rem;
      width: 80%;
    }
    .social {
      display: none;
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .headerOverlay {
    padding: 0;
  }
}
@media (max-width: 380px) {
  .contact {
    font-size: 10px;
  }
}
