.options {
  background-color: rgb(31, 30, 30);
  width: 100%;
  height: 5%;
  color: rgb(184, 182, 182);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;

  .item1 {
    display: flex;
    flex-direction: row;

    img {
      margin-left: 0.5rem;
    }
    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-left: 0.5rem;

      li {
        list-style: none;
        margin-right: 0.5rem;
      }
      li:hover {
        color: rgb(236, 105, 105);
        margin-top: 0.1rem;
      }
    }
  }
  .item2,
  .item3,
  .item1 {
    width: 33%;
    height: 1.3rem;
    align-content: center;
    align-items: center;
    p:hover,
    svg:hover {
      color: rgb(236, 105, 105);
    }
  }
  .item2 {
    height: 1.8rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    p {
      margin-top: 0.1rem;
      margin-left: 2.8rem;
    }
    svg {
      width: 0.7rem;
      margin-left: 0.5rem;
    }
  }
  .item3 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 1rem;
    margin-bottom: 0.2rem;
    p {
      margin-right: 0.5rem;
      margin-bottom: 0.3rem;
    }
    svg {
      width: 0.7rem;
      margin-right: 0.5rem;
    }
  }
}
@media (min-width: 1380px) {
  .item1 {
    .item1-burger {
      display: none;
    }
    .burger-text {
      display: none;
    }
    .mobile-menu {
      display: none;
    }
  }
}
@media (max-width: 1380px) {
  .item1 {
    .item1-menu {
      display: none;
    }
    .burger-container {
      position: relative;
      width: 5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      margin-left: 1rem;
      .mobile-menu {
        position: absolute;
        top: 1.2rem;
        left: 0;
        width: 8.5rem;
        background-color: rgb(39, 37, 37);
        color: rgb(255, 255, 255);
        z-index: 999;
        box-shadow: 0 4px 8px rgba(206, 204, 204, 0.2);

        ul {
          list-style: none;
          margin: 0;
          padding: 1rem;
          display: flex;
          flex-direction: column;

          li {
            padding: 0.5rem 0;
            cursor: pointer;
            &:hover {
              color: rgb(236, 105, 105);
            }
          }
        }
      }
    }

    .item1-burger {
      display: block;
      width: 1rem;
      height: 1.2rem;
      border-radius: 3px;
      border: none;
      background-color: transparent;
      color: rgb(156, 150, 150);

      cursor: pointer;
      &:hover {
        color: rgb(236, 105, 105);
      }
    }
  }
}

@media (max-width: 780px) {
  .options {
    .burger-container {
      z-index: 9998;
    }
    .burger-text {
      display: none;
    }
    .item2 {
      width: 70%;
      margin-right: 22%;
      margin-left: 0;
      p {
        font-size: 0.7rem;
      }
    }
    .item3 {
      display: none;
    }
  }
}
@media (max-width: 660px) {
  .options {
    .item2 {
      margin-right: 25%;
    }
  }
}
@media (max-width: 540px) {
  .options {
    .item2 {
      margin-right: 32%;
    }
  }
}
