.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(61, 60, 60);
  gap: 1rem;
  a {
    text-decoration: none;
    :hover {
      color: #f04f4f;
    }
  }

  .card {
    width: 95%;
    height: 35rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 1rem;
    background: #fff;
    cursor: pointer;
    padding: 1rem;
    background-color: rgb(229, 238, 241);
    .project-card {
      margin-bottom: 2rem;
    }

    .project-title {
      font-size: 1.5rem; // text-2xl
      font-weight: 600;
      color: #fb923c; // orange-400
    }

    .project-title2 {
      font-size: 1.5rem; // text-2xl
      font-weight: 600;
      color: #28a1da; // orange-400
    }

    .project-description {
      margin-top: 0.5rem;
      font-size: 0.875rem;
      color: #44464b; // gray-400
      line-height: 1.6;
    }

    .project-link {
      display: inline-block;
      margin-top: 0.75rem;
      font-size: 0.875rem;
      color: #f10101;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    iframe {
      width: 95%;
      height: 25rem;
      border-radius: 10px;
    }
  }

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
  }

  .title {
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    color: #3b3838;
  }
}
@media (max-width: 1200px) {
  .container {
    .card {
      width: 100%;
      height: auto;
      .title {
        font-size: 0.8rem;
      }
    }
  }
}
