.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(61, 60, 60);
  gap: 1rem;
  a {
    text-decoration: none;
    :hover {
      color: #f04f4f;
    }
  }

  .card {
    width: 95%;
    height: 30rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
    background: #fff;
    cursor: pointer;
    padding: 1rem;
    background-color: rgb(229, 238, 241);

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      transform: translateY(-4px);
    }
  }

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
  }

  .title {
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    color: #3b3838;
  }
}
@media (max-width: 1200px) {
  .container {
    .card {
      width: 100%;
      height: auto;
      .title {
        font-size: 0.8rem;
      }
    }
  }
}
